body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #6d6be8, #9b8df1);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: white;
}


.left {
    flex: 1;
    background: #eef1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 60%;
}

/* LADO DIREITO */
.right {
    flex: 1;
    padding: 40px 60px;
    position: relative;
}

.small-top {
    text-align: right;
    font-size: 14px;
    color: #777;
}

.signin-btn {
    border: 1px solid #ccc;
    background: transparent;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
}

.subtitle {
    margin-bottom: 20px;
    color: #888;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
}

input {
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.login-btn {
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #26333D ;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #777 ;

}


.social-text {
    margin-to777p: 25px;
    color: #777;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #555;
}


.estrela:nth-child(1) { top: 20px; left: 40px; }
.estrela:nth-child(2) { top: 120px; left: 200px; }
.estrela:nth-child(3) { top: 300px; left: 150px; }
.estrela:nth-child(4) { top: 80px; left: 350px; }
.dot:nth-child(5) { top: 220px; left: 500px; }
.dot:nth-child(6) { top: 50px; left: 600px; }